html{
    height: 100%;
    width: 100%;
}

body{
    margin-top: 0%;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
}

/*Clase fuentes*/
.dm-serif-text-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 500;
    font-style: italic;
}

/*Imagen*/
.imagen{
    /*border: dotted black;*/
    grid-row: 1;
    height:25em;
    width: 100%;
    display: grid;
    background-image: url(./public/images/imagen1.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}

/*Barra superior*/
.barra-superior{
    /*border: dotted black;*/
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 4;
    height: 3em;
    width: 100%;
    display: grid;
    background-color: rgba(0, 0, 0, 0.781);
    color: white;
    border-radius: 100px;
    margin-top: 5px;
}

#logo{
    /*border: solid red;*/
    height: 80%;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    align-content: center;
    text-align: center;
}

#selectores{
    /*border: solid yellow;*/
    height: 80%;
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;  
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 550;
    justify-content: space-evenly;
}

/*Selectores*/
#comprar{
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 2;
}

#colecciones{
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 3;
}


#aboutus{
    grid-row: 1;
    grid-column-start: 3;
    grid-column-end: 4;
}


#buscar{
    grid-row: 1;
    grid-column-start: 4;
    grid-column-end: 5;
}


#login{
    grid-row: 1;
    grid-column-start: 5;
    grid-column-end: 6;
}


#carrito{
    grid-row: 1;
    grid-column-start: 6;
    grid-column-end: 7;
}

#texto{
    /*border: solid g   reen;*/
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 3em;
    margin-top: 4em;
    margin-bottom: 1em;
    color: white;
}

#texto p{
    font-weight: 550;
    font-size: large;
}

#boton{
    border: solid rgb(255, 254, 254);
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 3em;
    text-align: center;
    color: white;
    font-weight: 550;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.429);
}

/*Cuerpo*/
.cuerpo{
    border: dotted black;
    grid-row: 2;
    height:100%;
    width: 100%;
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 2em;
    background-color: rgba(240, 226, 189, 0.454);
}

/*Cuerpo Carrusel*/
#carrusel{
    grid-row: 1;
    /*border: solid purple;*/
    grid-column-start: 1;
    grid-column-end: 4;
    height: 30em;
    width: 50em;
    margin-left: 1em;
    margin-top: 1em;
    background-image: url(./public/images/imagen2.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#texto-carrusel{
    grid-row: 1;
    /*border: solid cyan;*/
    grid-column-start: 4;
    grid-column-end: 6;
    height: 30em;
    width: 35em;
    margin-right: 1em;
    margin-top: 1em;
}

#texto-carrusel p#primero{
    color: rgb(137, 100, 48);
    font-weight: bolder;
}

/*Texto cuerpo*/
#texto-cuerpo{
    border: solid orangered;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 6;
    height: 15em;
    margin-left: 1em;
    margin-right: 1em;
}

/*Imagenes inferiores*/
#imagenes-inferior{
    border: dotted rgb(0, 26, 255);
    grid-row: 3;
    grid-column-start: 1;
    grid-column-end: 6;
    height: 16em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    display: grid;
    grid-column-gap: 5em;
    justify-content: space-evenly;
}

#imagen1{
    border: solid pink;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 1em;
    margin-left: 5em;
    margin-bottom: 1em;
    width: 15em;
    display:grid;
    align-content:end;
}

#imagen2{
    border: solid rgb(114, 5, 23);
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 15em;
}

#imagen3{
    border: solid rgb(113, 4, 163);
    grid-row: 1;
    grid-column-start: 3;
    grid-column-end: 4;
    margin-top: 1em;
    margin-right: 5em;
    margin-bottom: 1em;
    width: 15em;
    display: grid;
    align-content:end;
}

/*Texto imagenes*/
#texto-imagen1{
    border: solid rgb(36, 172, 65);
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    height: 5em;
}

#texto-imagen3{
    border: solid rgb(36, 172, 65);
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    width: 100%;
    height: 5em;
}

/*Footer*/
footer{
    border: dotted brown;
    height: 10em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: grid;
}

#contacto{
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    border: solid aquamarine;
}

#redes{
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 3;
    border: solid rgb(126, 128, 36);
}

#copyright{
    grid-row: 1;
    grid-column-start: 3;
    grid-column-end: 4;
    border: solid rgb(56, 36, 128);
}