html{
    height: 100%;
    width: 100%;
    margin: 0%;
    background-color: rgba(240, 226, 189, 0.454);
    background-image: url(./public/images/background.jpg);
}

body{
    margin: 0%;
    height: 100%;
    width: 100%;
    display: grid;
}

/*Clase fuentes*/
.dm-serif-text-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 500;
    font-style: italic;
}

a{
    font: inherit;
    color: inherit;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    text-underline-offset: 0.3em;
}

/*Imagen*/
.imagen{
    grid-row: 1;
    height:25em;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 4em;
    background-image: url(./public/images/imagen1.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
}

/*Barra superior*/
.barra-superior{
    align-self: center;
    height: 3em;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.781);
    color: white;
    border-radius: 10em;
}

#logo{
    height: 80%;
    justify-content: center;
    align-content: center;
    margin-top: 0.3em;
    font-size: 1.5em;
}

#selectores{
    /*border: solid yellow;*/
    height: 80%;
    display: flex;
    flex-direction: row;
    column-gap: 2em;  
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 550;
    justify-content: space-evenly;
}

#comprar{
    transition: transform 0.3s ease;
}

#comprar:hover{
    transform: scale(1.2);
    font-weight: bold;
}

#outlet{
    transition: transform 0.3s ease;
}

#outlet:hover{
    font-weight: bold;
    color: rgb(172, 128, 93);
}

#colecciones{
    transition: transform 0.3s ease;
    margin-right: 7em;
}

#colecciones:hover{
    font-weight: bold;
    color: rgb(172, 128, 93);
}

#aboutus{
    transition: transform 0.3s ease;
    margin-left: 10em;
}

#aboutus:hover{
    font-weight: bold;
    color: rgb(172, 128, 93);
}

#inicio{
    transition: transform 0.3s ease;
    margin-top: 0.5em;
    height: 1.9em;
}

#inicio:hover{
    font-weight: bold;
    filter: invert(60%) sepia(20%) saturate(550%) hue-rotate(350deg);
}

#buscar{
    margin-top: 0.5em;
    height: 1.9em;
    transition: transform 0.3s ease;
}

#buscar:hover{
    font-weight: bold;
    filter: invert(60%) sepia(20%) saturate(550%) hue-rotate(350deg);
}

#carrito{
    margin-top: 0.5em;
    height: 1.9em;
    transition: transform 0.3s ease;
}

#carrito:hover{
    font-weight: bold;
    filter: invert(60%) sepia(20%) saturate(550%) hue-rotate(350deg);
}

#login{
    margin-top: 0.5em;
    height: 1.9em;
    transition: transform 0.3s ease;
}

#login:hover{
    font-weight: bold;
    filter: invert(60%) sepia(20%) saturate(550%) hue-rotate(350deg);
}

#texto{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 3em;
    margin-top: 2em;
    margin-bottom: 1em;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}

#texto p{
    font-weight: 550;
    font-size: 1.5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

#boton{
    border: solid 0.15em rgb(255, 254, 254);
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 3em;
    text-align: center;
    color: white;
    font-weight: 550;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.429);
    transition: transform 0.3 ease;
}

#boton:hover{
    transform: scale(1.05);
}

/*Cuerpo*/
.cuerpo{
    /*border: dotted black;*/
    grid-row: 2;
    height:100%;
    width: 100%;
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 2em;
}

/*Cuerpo Carrusel*/
#carrusel{
    grid-row: 1;
    /*border: solid purple;*/
    grid-column-start: 1;
    grid-column-end: 4;
    height: 25em;
    width: 55em;
    margin-left: 1em;
    margin-top: 1em;
    background-image: url(./public/images/imagen2.avif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#texto-carrusel{
    grid-row: 1;
    /*border: solid cyan;*/
    grid-column-start: 4;
    grid-column-end: 6;
    height: 25em;
    width: 60em;
    margin-right: 1em;
    margin-top: 1em;
    text-align: center;
}

#texto-carrusel p#primero{
    color: rgb(137, 100, 48);
    font-weight: bolder;
    font-size: 2em;
    font-style: normal;
}

#texto-carrusel p#segundo{
    margin: 1em;    
    color: rgb(0, 0, 0);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: left;
}

#texto-carrusel p#comprar{
    margin: 1em;
    color: rgb(137, 100, 48);
    font-size: 1.75em;
    font-weight: 500;
    text-align: center;
    font-style: normal;
}

/*Imagenes inferiores*/
#imagenes-inferior{
    /*border: dotted rgb(0, 26, 255);*/
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 6;
    height: 30em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    display: flex;
    flex-direction: row;
    column-gap: 2em;
    row-gap: 2em;
    justify-content: space-evenly;
}

.imagenes_inf{
    transition: transform 0.6 ease;
}

.imagenes_inf:hover{
    transform: scale(1.1);
}

#imagen1{
    margin-top: 1em;
    margin-left: 5em;
    margin-bottom: 1em;
    width: 25em;
    background-image: url(./public/images/imagen3.avif);
    background-repeat: no-repeat;
    background-size: cover;

}

#imagen2{
    margin-top: 1em;
    margin-bottom: 1em;
    width: 25em;
    background-image: url(./public/images/imagen4.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

#imagen3{
    margin-top: 1em;
    margin-right: 5em;
    margin-bottom: 1em;
    width: 25em;
    background-image: url(./public/images/imagen5.avif);
    background-repeat: no-repeat;
    background-size: cover;
}

/*Footer*/
footer{
    height: 15em;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    background-image: url(./public/images/footer.jpg);
    background-color: rgba(96, 55, 27);
    color: white;
}

p#titulo{
    font-size: 1.2em;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 1.5em;
}

img#iconos-social{
    filter: invert(1);
    padding-right: 0.3em;
}

#tienda{
    width: 35%;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

#clientes{
    width: 35%;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}

#contacto{
    width: 35%;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1.1em;
}